<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity password="cel99662632" userName="" />
    </system.web>
    <system.webServer>
        <urlCompression doDynamicCompression="false" />
        <defaultDocument enabled="true">
            <files>
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP-FastCGI7.3" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.3\php-cgi_4.exe" resourceType="File" />
        </handlers>

<!-- Bloco para forçar https  INICIO -->
        
        <rewrite>
				   <rules>
				     <rule name="Redirect to https" stopProcessing="true">
				       <match url="(.*)" />
				         <conditions>
				          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
				         </conditions>
				          <action type="Redirect" url="https://e-pix360.com.br{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				     </rule>
				   </rules>
				</rewrite>
        
<!-- Bloco para forçar https  FIM -->
        
    </system.webServer>
</configuration>





